<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<app-maintanace-sidebar></app-maintanace-sidebar>
<app-header></app-header>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="container">
                    <h1>Delete Dailyshift Center</h1>
                        
                        <form #deletedailyshift=ngForm>

                                                  
                                <div class="panel form-panel" style="margin-top: 40px">
                                        <div class="panel-heading">
                                            <p class="head">Delete Dailyshift</p>
                                        </div>
                                       
                    
                                        <div class="panel-body">
                                                <div class="from-group" [class.has-error]= "NIC.invalid && NIC.touched"></div>
                                <label for='name'>Employee Id:</label>
                                <input type="text" class="form-control" id="NIC"
                                required #NIC="ngModel"
                                [(ngModel)]="model2.NIC" name="NIC">
                                <span class = "help-block"
                                *ngIf = "NIC.invalid && NIC.touched">NIC is required
                                </span>
                                                    </div>                                
<br>

                            <div class="panel-footer">
                            <button type="submit" class="btn btn-success" (click)="deleted()"(click)="method2()">Submit</button>
                            </div>
                            </div>
                                        
                        </form>
                    </div>
        </div>
    </div>
</div>

     