<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="container">
                <form #deletecustomer=ngForm>
                    <div class="panel form-panel" style="margin-top: 40px ">
                        <div class="panel-heading">
                            <p class="head">Delete customer</p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">

                                <label for='name'>NIC or Passport</label>
                                <input type="text" class="form-control" id="nic" required [(ngModel)]="model2.NIC"
                                    name="nic">
                            </div>

                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success" (click)="method2()" (click)="showmodel()" [disabled]=!isValidForm(deletecustomer) >Submit</button>
                        </div>

            </div>
        </form>
        </div>
    </div>
</div>
</div>