<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<app-inventroy-side-bar></app-inventroy-side-bar>
<app-header></app-header>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="container">
                <form #newStock=ngForm>
                    <div class="panel form-panel" style="margin-top: 40px ">
                        <div class="panel-heading">
                            <p class="head">Add Stock</p>
                        </div>
                        <div class="panel-body">
                    <label for='name'>Supplier NIC</label>
                    <input type="text" class="form-control" id="nic" required [(ngModel)]="model.NIC" name="nic">

                    <label for='contact no'>Supplier Contact Number</label>
                    <input type="text" class="form-control" id="telephone" required [(ngModel)]="model.telephone"
                        name="telephone"> 

                    <label for="Category">Select Category</label>
                    <input type="text" class="form-control" id="supCategory" required [(ngModel)]="model.supCategory"
                        name="supCategory">

            <label for='quantity'>Quantity</label>
                    <input type="text" class="form-control" id="quantity" required [(ngModel)]="model.quantity" name="Quantity">
              
            <label for='orderedDate'>Ordered Date</label>
                    <input type="date" class="form-control" id="orderedDate" required [(ngModel)]="model.orderedDate" name="Ordereded Date">

            <label for='purchasedDate'>Purchased Date</label>
                    <input type="date" class="form-control" id="purchasedDate" required [(ngModel)]="model.purchasedDate" name="Purchased Date">
</div>



<div class="panel-footer">
                    <button type="submit" class="btn btn-success" (click)="method1()"  (click)="onClickInsertStock()" (click)="downloadPDF()" (click)="DisSuccStock()">Submit</button>
</div>
</div>
                </form>
            </div>
        </div>
    </div>
</div>
