<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="col-sm-3 sidenav">
    <div class="sidelogo">
        <img src="./../../../assets/images/logo.png" height="100px" width="180px">
    </div>
    <br>
    <p>Customer Management</p>
    <hr>
    <ul class="nav nav-pills nav-stacked">
        <li><a routerLink="/home"><img src="./../../../assets/images/newuser.png">New Customer</a></li>
        <li><a routerLink="/customeru"><img src="./../../../assets/images/update.png">View Customer</a></li>
        <li><a routerLink="/customerdelete"><img src="./../../../assets/images/delete.png">Delete Customer</a></li>
        <li><a routerLink="/booking"><img src="./../../../assets/images/book.png">Add Booking</a></li>
        <li><a routerLink="/ubooking"><img src="./../../../assets/images/update.png">View Booking</a></li>
        <li><a routerLink="/bookingdelete"><img src="./../../../assets/images/delete.png">Delete Booking</a></li>
    </ul><br>
</div>