<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <div class="col-sm-3 sidenav">
                <div class="sidelogo">
                        <img src="./../../../assets/images/logo.png" height="100px" width="180px">
                    </div>
                <p>Inventory Management Details</p>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li><a routerLink="/stock">Add Stock Details</a></li>
                    <li><a routerLink="/updatestock">Update Stock Details</a></li>
                    <li><a routerLink="/deletestock">Delete Stock Details</a></li>
                    <li><a routerLink="/addsup">Add suplier Details</a></li>
                    <li><a routerLink="/updatesup">Update Suplier Details</a></li>
                    <li><a routerLink="/deletesup">Delete Suplier Details</a></li>
                    
                </ul><br>

        </div>