<!--p>delete-emp-details works!</p-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<app-employee-sidebar></app-employee-sidebar>
<app-header></app-header>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="container">
               
                <form #newCustomer=ngForm style="width: 800px">
                    <h1>Delete Employee</h1>
                    <div class="form-group" [class.has-error]="DempId.invalid && DempId.touched">
                    <label for='name'>Employee ID</label>
                    <input type="text" class="form-control" id="Did" required #DempId="ngModel" [(ngModel)]="model.id" name="DempId"  onchange="validateDeleteBtn();" >
                    <span class="help-block"
                        *ngIf="DempId.invalid && DempId.touched">Employee ID is required</span>
                    </div>
                    <br>
                    <button  (click)="onClickDelete()"  (click)="DisDelAlert()" id="btnDel" type="submit" class="btn btn-danger" disabled="disabled">Delete</button>

                </form>
            </div>
        </div>
    </div>
</div>
