<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="col-sm-3 sidenav">
        <div class="sidelogo">
                <img src="./../../../assets/images/logo.png" height="100px" width="180px">
            </div>
    <p>Maintanence Management</p>
    <hr>
    <ul class="nav nav-pills nav-stacked">
        
        <h4>Dailyshift Center</h4>
        <li><a routerLink="/insert"><img src = "./../../assets/images/newuser.png">Insert DailyShift</a></li>
        <li><a routerLink="/updatedailyshift"><img src = "./../../assets/images/update.png">Update DailyShift</a></li>
        <li><a routerLink="/deletedailyshift"><img src = "./../../assets/images/delete.png">Delete DailyShift</a></li>

        <h4>Equipment Center</h4>
        <li><a routerLink="/inserteqpment"><img src = "./../../assets/images/newuser.png">Insert Equipment</a></li>
        <li><a routerLink="/updateeqpment"><img src = "./../../assets/images/update.png">Update Equipment</a></li>
        <li><a routerLink="/deleteeqpment"><img src = "./../../assets/images/delete.png">Delete Equipment</a></li>
    </ul><br>
</div>

