<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="col-sm-3 sidenav">
        <div class="sidelogo">
                <img src="./../../../assets/images/logo.png" height="100px" width="180px">
        </div>
        <br>
        <ul class="nav nav-pills nav-stacked">
                <p>Restaurant Management</p>
                <hr>
                <h5>Stocks</h5>
                <li><a routerLink="/restaurantview"> View Stock Details</a></li>
                <li><a routerLink="/adddetails"><img src="./../../../assets/images/newuser.png"> Add New Stock</a></li>
                <li><a routerLink="/deletedetails"><img src="./../../../assets/images/delete.png"> Delete Details</a></li>
                <li><a routerLink="/updatedetails"><img src="./../../../assets/images/update.png"> Update Details</a></li>
                <br>
                <h5>Bookings</h5>
                <li><a routerLink="/viewtablebooking"> View Booking Details</a></li>
                <li><a routerLink="/tablebooking"><img src="./../../../assets/images/newuser.png"> Table Booking</a></li>
                <li><a routerLink="/tablebookingdelete"><img src="./../../../assets/images/delete.png"> Table Booking Delete</a></li>
                <li><a routerLink="/updatetablebooking"><img src="./../../../assets/images/update.png"> Update Table Booking </a></li>




        </ul><br>

</div>
