Header {
    background-color: rgb(158, 52, 19);
    color: black;
    height: 40px;
    width: 85%;
    margin-left: 15%;
    border-bottom: 2px solid white;
  }
p{
  font-family: 'Marck Script', cursive;
  color: white;
  font-size: 25px;
  margin: 0px,8px,0px,0px;
}
