<!--p>manage-emp-details works!</p-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<app-employee-sidebar></app-employee-sidebar>
<app-header></app-header>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-9">
            <div class="container">
               
                <form #newCustomer=ngForm style="width: 800px " >
                    <h1 >New Employee</h1>
                    
                <div class="form-row">
                    <div class="form-group col-md-4">
                    <div class="form-group" [class.has-error]="id.invalid && id.touched">
                    <label for='name'>Employee ID</label>
                    <input type="text" class="form-control" id="empId" required #id="ngModel" [(ngModel)]="model.id" name="id"  onchange="validateAddBtn();">
                    
                    <span class="help-block"
                    *ngIf="id.invalid && id.touched">Employee ID is required</span>
                </div>
                </div>  
                    
                <div class="form-group col-md-4">
                    <div class="form-group" [class.has-error]="name.invalid && name.touched">
                    <label for='name'>Employee Name</label>
                    <input type="text" class="form-control" id="empName" required #name="ngModel" [(ngModel)]="model.name" name="name"  onchange="validateAddBtn();">
                    
                    <span class="help-block"
                    *ngIf="name.invalid && name.touched">Employee name is required</span>
                </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="form-group" [class.has-error]="nic.invalid && nic.touched">   
                    <label for='name'>NIC or Passport</label>
                    <input type="text" class="form-control" id="nic" required #nic="ngModel" [(ngModel)]="model.NIC" name="nic"  onchange="validateAddBtn();">
                    
                    <span class="help-block"
                    *ngIf="nic.invalid && nic.touched">Employee NIC/Passport is required</span>
                </div>
                </div>
            
            
            
            </div> 
            <div class="age">
                    <div class="form-group col-md-2" [class.has-error]="age.invalid && age.touched">
                    
                       
                    <label for='name'>Age</label>
                    
                    
                    <input type="text" class="form-control" id="empAge" required #age="ngModel" [(ngModel)]="model.age" name="age"  onchange="validateAddBtn();">
                    <span class="help-block"
                    *ngIf="age.invalid && age.touched">Employee age is required</span>
                    </div>
                </div>
                
                <div class="form-row-1">
                    <!-- <div class="birth"> -->
                    <div class="form-group col-md-4">
                    <div class="form-group" [class.has-error]="Bdate.invalid && Bdate.touched">
                    <label for='name'>Birth Date</label>
                    <input type="date" class="form-control" id="empBirth" required #Bdate="ngModel" [(ngModel)]="model.Bdate" name="Bdate"  onchange="validateAddBtn();">
                    
                    <span class="help-block"
                    *ngIf="Bdate.invalid && Bdate.touched">Employee birth day is required</span>
                </div>
                </div>
                <!-- </div> -->
                <div class="form-group col-md-4">
                    <div class="form-group" [class.has-error]="mobile.invalid && mobile.touched">
                    <label for='name'>Mobile</label>
                    <input type="text" class="form-control" id="empMob" required #mobile="ngModel" [(ngModel)]="model.mobile" name="mobile"  onchange="validateAddBtn();" maxlength="10" >
                   
                    <span class="help-block"
                    *ngIf="mobile.invalid && mobile.touched ">Employee mobile number is required</span>
                </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-group" [class.has-error]="Jdate.invalid && Jdate.touched">
                    <label for='name'>Joined Date</label>
                    <input type="date" class="form-control" id="empJd" required #Jdate="ngModel" [(ngModel)]="model.Jdate" name="Jdate" max="2019-10-02" onchange="validateAddBtn();">
                    
                    <span class="help-block"
                    *ngIf="Jdate.invalid && Jdate.touched">Employee joined date is required</span>
                </div>
            </div>
            
            </div>
            <div class="form-row-2">
                    <div class="form-group col-md-6">
                    <div class="form-group" [class.has-error]="Position.invalid && Position.touched">
                    <label for='name'>Position</label>
                    <input type="text" class="form-control" id="empPos" required #Position="ngModel" [(ngModel)]="model.Position" name="Position"  onchange="validateAddBtn();">
                    
                    <span class="help-block"
                    *ngIf="Position.invalid && Position.touched">Employee position is required</span>
                </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group" [class.has-error]="Password.invalid && Password.touched" >
                    <label for='name'>Password</label>
                    <input type="password" class="form-control" id="empPass" required #Password="ngModel" [(ngModel)]="model.Password" name="Password"  minlength="8" onchange="validateAddBtn();">
                    
                    <span class="help-block"
                    *ngIf="Password.invalid && Password.touched">Employee password is required</span>
                    <span class="help-block"
                    *ngIf="Password.invalid && Password.touched">Employee password must have at least 8 characters</span>
                </div>
                </div>
            </div>
            
                    <div class="gender">
                    <label for='name'>Gender</label>
                    <p>
                        <input class="w3-radio" type="radio" required [(ngModel)]="model.gender" name="gender" id="genderM" value="Male" onchange="validateAddBtn();">
                        <label>Male</label></p>
                        <p>
                        <input class="w3-radio" type="radio" required [(ngModel)]="model.gender" name="gender" id="genderF" value="Female" onchange="validateAddBtn();">
                        <label>Female</label></p>
                        <p>
                    </div>
                    <label for='name'>Married Status</label>
                    <p>
                        <input class="w3-radio" type="radio" required [(ngModel)]="model.marry" name="marry" id="marry" value="Marry" onchange="validateAddBtn();">
                        <label>Married</label></p>
                        <p>
                        <input class="w3-radio" type="radio" required [(ngModel)]="model.marry" name="marry" id="Unmarry" value="Unmarry" onchange="validateAddBtn();">
                        <label>Unmarried</label></p>
                        <p>        
                    <br>
                    <button (click)="method1()"  (click)="DisSuccAdd()" (click)="downloadPDF()"id="btnAdd" type="submit" class="btn btn-success" disabled="disabled">Add</button>
                    

                </form>
            </div>
        </div>
    </div>
</div>


