<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <div class="col-sm-3 sidenav">
                <div class="sidelogo">
                        <img src="./../../../assets/images/logo.png" height="100px" width="180px">
                    </div>
                <p>Accounts Management</p>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li><a routerLink="/add-employee-detail">Add Employee Financial Details</a></li>
                    <li><a routerLink= "/viewempdetails">View Employee Financial Details</a></li>
                    <li><a routerLink="/update-employee-detail">Update Employee Financial Details</a></li>
                    <li><a routerLink= "/delete-employee-detail">Delete Employee Financial Details</a></li>
                    
                </ul><br>

        </div>
