<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
        <div class="col-sm-3 sidenav">
                <div class="sidelogo">
                        <img src="./../../../assets/images/logo.png" height="100px" width="180px">
                    </div>
                <h4>Employee Management</h4><hr>
                <ul class="nav nav-pills nav-stacked">
                    <li><a routerLink="/manage-emp">Add Employee</a></li>
                    <li><a routerLink="/update-emp-details">Update Employee</a></li>
                    <li><a routerLink="/delete-emp-details">Delete Employee</a></li>
                    <li><a routerLink="/attendance-emp-details">Attendance Details</a></li>
                    <li><a routerLink="/work-emp-details">Working Details </a></li>
                    <li><a routerLink="/view-emp-details">View Details </a></li>
                    
                </ul><br>

        </div>