<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<app-res-side-bar></app-res-side-bar>
<app-header></app-header>


<div class="container-fluid">
  <div class="row content ">
    <div class="col-sm-9">
      <div class="container">
        <h1>Stock details</h1>
        <br>
        <div class="container">
          <table class="table table-trapped">

            <thead>
              <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Available/Not Available</th>
                <th><button type="submit" class="btn btn-success" (click)='method1()'>View</button></th>
              </tr>
            </thead>
            <br>
            <tbody>
              <tr *ngFor="let row of model">
                  <td>
                      <input disabled="text" class="form-control" id="pid" required value={{row.pid}} name="pid">
                    </td>
                    <td>
                      <input disabled="text" class="form-control" id="pname" required value={{row.pname}}
                        name="pname">

                    </td>

                    <td>
                      <input disabled="text" class="form-control" id="quantity" required value={{row.quantity}}
                        name="quantity"></td>

                    <td>
                      <input disabled="text" class="form-control" id="price" required value={{row.price}}
                        name="price"></td>

                    <td>
                      <input disabled="text" class="form-control" id="ava" required value={{row.ava}} name="ava"></td>
              </tr>

              <!-- <tr>
                <td>
                  <input disabled="text" class="form-control" id="pid" required [(ngModel)]="model.pid" name="pid">
                </td>
                <td>
                  <input disabled="text" class="form-control" id="pname" required [(ngModel)]="model.pname"
                    name="pname">

                </td>

                <td>
                  <input disabled="text" class="form-control" id="quantity" required [(ngModel)]="model.quantity"
                    name="quantity"></td>

                <td>
                  <input disabled="text" class="form-control" id="price" required [(ngModel)]="model.price"
                    name="price"></td>

                <td>
                  <input disabled="text" class="form-control" id="ava" required [(ngModel)]="model.ava" name="ava"></td>

              </tr> -->
            </tbody>

            <br><br><br>




          </table>

        </div>

      </div>
    </div>
  </div>
</div>
