<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <div class="col-sm-3 sidenav">
                <div class="sidelogo">
                        <img src="./../../../assets/images/logo.png" height="100px" width="180px">
                    </div>
                <h4>Transport Management</h4><hr>
                <ul class="nav nav-pills nav-stacked">
                    <li><a routerLink="/vehicle">Add Vehicle</a></li>
                    <li><a routerLink="/update">Update Vehicle</a></li>
                    <li><a routerLink= "/delete">Delete Vehicle</a></li>
                    <li><a routerLink= "/available">Available</a></li>
                </ul><br>

        </div>