/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */
.container{ 
  width: 90%;
  height:90% ;
  background-color: white;
  border-radius: 1%;
  margin-top: 50px;
   } 
  
  .col-sm-9{
    background-color: #212121;
    width: 85%; 
    height: 800px;
  }
  h1{
    font-family: fantasy;
  }
  label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  form{
    width: 80%;
    margin-left: 200px;
  }
  .head{
    font-size: 24px;
  }
  .form-panel{
    width: 80%;
    
  }
  
